.container{
    background-color: rgb(205, 245, 237);
    color: white;
    height: 20vh;
}

.header{
    position: relative;
    top: 7vh;
    font-size: 60px;
    font-weight: bolder;
    background-image: url('download.jpg');
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}